<div id="categoryPage">
  <h1>Select a category to play</h1>

    <LinkTo class="LinkTo" @route="category.sports">Sports</LinkTo><br><br><br><br>
    <LinkTo class="LinkTo" @route='category.generalKnowledge'>General Knowledge</LinkTo><br><br><br><br>
    <LinkTo class="LinkTo" @route="category.animals">Animals</LinkTo><br><br><br><br>
    <LinkTo class="LinkTo" @route="category.computerScience">Computer Science</LinkTo><br><br><br><br>

</div>
{{outlet}}